<!DOCTYPE html>
<html>
<head>
  <title>Cristy Koebler's Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
    <nav>
      <ul class="navigation">
        <li class="nav-links"><a href="http://cristykoebler.com/">Home</a></li>
        <li class="nav-links"><a href="http://cristykoebler.com/about.html">About</a></li>
        <li class="nav-links"><a href="http://cristykoebler.com/portfolio.html">Portfolio</a></li>
        <li class="nav-links"><a href="http://cristykoebler.com/contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

<p class="flash">
      <%= flash.notice %>
</p>
  	<div id="container">
    	<div id="content">
      		<%= yield %>
      		<hr>
      		<h6>
        		<% if logged_in? %>
          		<%= "Logged in as #{current_user.email}" %>
          		<%= link_to "(logout)", logout_path %>
        		<% else %>
          		<%= link_to "(login)", login_path %>
        		<% end %>
      		</h6>
    	</div>
  	</div>

</body>
</html>
